.header-advertisement{
    background-color: #f6f6f6;
}

.card{
    height: 250px;
}

.card img{
    width: 100%;
    height: 250px;
    background-color: #e2dfdf;
}

.form-group{
    margin-bottom: 10px !important;
}

.preview-container{
    display: none;
    text-align: center;
}

#previewImg{
    padding: 16px;
    width: 150px;
    height: 150px;
}

.btn-dark{
    background: black;
    border-radius: 0px;
}

.badge{
    padding: 5px;
    margin-right: 5px;
}

.select2.select2-container {
    display: block;
}


@media (max-width: 992px) {

    .header-advertisement{
        display: none;
    }
}

.short-desc{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}